<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" type="text/css" href="semantic/out/semantic.min.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Move to own css file "mystyles.css" -->
  <style type="text/css">
  .main.container {
    margin-top: 6em;
  }
  </style>

  <title></title>

</head>

<body ng-app="IlmoitusApp">

  <!-- Main menu -->
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="#/" class="header item">HOME</a>
      <a href="#posts" class="active item">Selaa ilmoituksia</a>
      <a href="#/add" class="item">Lisää ilmoitus</a>
      <a href="#/faq" class="item">Mitä tää on</a>
      <a href="#" class="right item">Kirjaudu sisään</a>
    </div>
  </div>

  <div ng-view class="ui main text container">
    <!-- View begins -->

    <!-- View ends -->
  </div>

  <!-- Dependancy scripts -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="bower_components/firebase/firebase.js"></script>
  <script src="bower_components/angularfire/dist/angularfire.min.js"></script>
  <script src="semantic/out/semantic.min.js" type="text/javascript"></script>

  <!-- Own scripts -->
  <script src="app/app.js"></script>
  <script src="app/services/postService.js"></script>
  <script src="app/services/firebase_service.js"></script>
  <script src="app/controllers/list_controller.js"></script>
  <script src="app/controllers/add_controller.js"></script>
  <script src="myscripts.js" type="text/javascript"></script>

</body>

</html>
