<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" type="text/css" href="semantic/out/semantic.min.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Move to own css file "mystyles.css" -->
  <style type="text/css">
  .main.container {
    margin-top: 6em;
  }
  </style>

  <title></title>

</head>

<body ng-app="IlmoitusApp" ng-controller="HomeController">

  <!-- Main menu -->
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="#/" class="header item" ng-click="menuClick()"><i class="large home icon"></i></a>
      <a href="#posts" class="item" ng-click="menuClick()">Selaa ilmoituksia</a>
      <a href="#/add" class="item" ng-click="menuClick()">Lisää ilmoitus</a>
      <div class="right menu">
      <a href="#/signup" class="item" ng-click="menuClick()">Rekisteröidy</a>
      <a class="item" ng-click="loginModal()">Kirjaudu sisään</a>
    </div>
    </div>
  </div>

  <div ng-view class="ui main text container">
    <!-- View begins -->

    <!-- View ends -->
  </div>

  <!-- Modal for user login -->
  <div class="ui small modal" id="loginModal">
    <div class="content">
      <div class="ui middle aligned center aligned grid">
        <div class="ten wide column">
          <h2 class="ui header">
            <div class="content">
              Kirjaudu sisään
            </div>
          </h2>
          <!-- Login form begins -->
          <form class="ui large form">
            <div class="ui stacked segment">
              <div class="field">
                <div class="ui left icon input">
                  <i class="user icon"></i>
                  <input type="text" name="email" placeholder="Sähköpostiosoite">
                </div>
              </div>
              <div class="field">
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <input type="password" name="password" placeholder="Salasana">
                </div>
              </div>
              <div class="ui fluid large blue submit button">Kirjaudu</div>
            </div>

            <div class="ui error message"></div>
          </form>
          <!-- End of login form -->

          <div class="ui message">
            Uusi käyttäjä? <a href="#/signup" ng-click="closeLogin()">Rekisteröidy</a>
          </div>
        </div>
      </div>

    </div>
    <!-- End of modal -->

    <!-- Dependancy scripts -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.min.js"></script>
    <script src="semantic/out/semantic.min.js" type="text/javascript"></script>

    <!-- Own scripts -->
    <script src="app/app.js"></script>
    <script src="app/services/postService.js"></script>
    <script src="app/services/firebase_service.js"></script>
    <script src="app/services/signup_service.js"></script>
    <script src="app/controllers/list_controller.js"></script>
    <script src="app/controllers/add_controller.js"></script>
    <script src="app/controllers/home_controller.js"></script>
    <script src="app/controllers/signup_controller.js"></script>
    <script src="myscripts.js" type="text/javascript"></script>

  </body>

  </html>
