<div class="ui relaxed divided list">
  <div class="item">
    <i class="large soccer middle aligned icon"></i>
    <div class="content">
      <a class="header">Tennismaila</a>
      <div class="description">Lahjoitetaan hyväkuntoinen maila. Nouto Malmilta tai postitus. (Pitäiskö ilmoitukset avata Accordionilla?)</div>
    </div>
  </div>

  <div class="item">
    <i class="large game middle aligned icon"></i>
    <div class="content">
      <a class="header">Dark Souls 2</a>
      <div class="description">Lahjoitetaan lähes uusi Dark Souls 2 -peli Xboxille tai vaihdetaan CoDiin. Paska peli.</div>
    </div>
  </div>

  <div class="item">
    <i class="large book middle aligned icon"></i>
    <div class="content">
      <a class="header">Hohto</a>
      <div class="description">Lahjoitetaan Stephen Kingin kuuluisa teos Hohto tai vaihdetaan johonkin parempaan iltalukemiseen.</div>
    </div>
  </div>

</div>
