<!-- View begins -->

<!-- Some introduction for the page -->
<h1 class="ui header">Ilmoitukset</h1>
<p>Täällä voit selata jätettyjä ilmoituksia. Nopeuttaaksesi hakuasi, tarkenna hakuehtojasi! </p>

<!-- Tabular menu for different post options -->
<div class="ui top attached tabular menu">
  <div class="active item">Lahjoitetaan</div>
  <div class="item">Vaihdetaan</div>
  <div class="item">Etsitään</div>
</div>

<!-- The actual content below the tab menu -->
<div class="ui bottom attached active tab segment">

  <!-- Search for filtering posts -->
  <div class="ui fluid action input">
    <input type="text" placeholder="Etsi hakusanalla">

    <div class="ui button" id="refineButton" ng-click="refineModal()">
      <i class="search icon"></i> Hakuehdot
    </div>
  </div>

  <div class="ui accordion">
    <div ng-repeat="post in posts">
      <div class="title" ng-click="accordion()">
        <i class="dropdown icon"></i>
        {{post.item}}
      </div>
      <div class="content">
        <div class="ui fluid card">
          <div class="content">
            <div class="header">{{post.type}}</div>
            <p>{{post.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- End of tabular menu contents -->

<!-- Modal for refining search results -->
<div class="ui modal" id="refineModal">
  <div class="content">
    <h1 class="ui header">Hakuehdot</h1>

    <form class="ui form">
      <div class="ui four column grid">
        <!-- First row -->
        <div class="row">

          <div class="column">
            <div class="grouped fields">
              <label>Ilmoitustyyppi</label>
              <div class="field">
                <div class="ui checked checkbox">
                  <input type="checkbox" name="lahjoitetaan" checked="">
                  <label>Etsitään</label>
                </div>
                <div class="field">
                  <div class="ui checked checkbox">
                    <input type="checkbox" name="lahjoitetaan" checked="">
                    <label>Lahjoitetaan</label>
                  </div>
                  <div class="field">
                    <div class="ui checked checkbox">
                      <input type="checkbox" name="vaihdetaan" checked="">
                      <label>Vaihdetaan</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="grouped fields">
              <label>Kunto</label>
              <div class="field">
                <div class="ui checked checkbox">
                  <input type="checkbox" name="lahjoitetaan" checked="">
                  <label>Uudenveroinen</label>
                </div>
                <div class="field">
                  <div class="ui checked checkbox">
                    <input type="checkbox" name="vaihdetaan" checked="">
                    <label>Hyvä</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui checked checkbox">
                    <input type="checkbox" name="vaihdetaan" checked="">
                    <label>Kohtalainen</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui checked checkbox">
                    <input type="checkbox" name="vaihdetaan" checked="">
                    <label>Heikko</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="field">
              <label>Sijainti</label>
              <select class="ui fluid dropdown">
                <option value="">Valitse</option>
                <option value="AHV">Ahvenanmaa</option>
                <option value="EKA">Etelä-Karjala</option>
                <option value="EPO">Etelä-Pohjanmaa</option>
                <option value="ESA">Etelä-Savo</option>
                <option value="KAI">Kainuu</option>
                <option value="KHÄ">Kanta-Häme</option>
                <option value="KPO">Keski-Pohjanmaa</option>
                <option value="KSU">Keski-Suomi</option>
                <option value="KYM">Kymenlaakso</option>
                <option value="LAP">Lappi</option>
                <option value="PIR">Pirkanmaa</option>
                <option value="POH">Pohjanmaa</option>
                <option value="PKA">Pohjois-Karjala</option>
                <option value="PPO">Pohjois-Pohjanmaa</option>
                <option value="PSA">Pohjois-Savo</option>
                <option value="PHÄ">Päijät-Häme</option>
                <option value="SAT">Satakunta</option>
                <option value="UUS">Uusimaa</option>
                <option value="VSU">Varsinais-Suomi</option>
              </select>
            </div>
          </div>

          <div class="column">
            <div class="grouped fields">
              <label>Toimitustapa</label>
              <div class="field">
                <div class="ui checked checkbox">
                  <input type="checkbox" name="pickup" checked="checked">
                  <label>Nouto</label>
                </div>
              </div>
              <div class="field">
                <div class="ui checked checkbox">
                  <input type="checkbox" name="mail" checked="checked">
                  <label>Postitus</label>
                </div>
                <div class="field">
                  <div class="ui checked checkbox">
                    <input type="checkbox" name="home" checked="checked">
                    <label>Toimitus kotiin</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="field">
            </div>
          </div>

        </div>
        <!-- First row ends -->
        <!-- Second row -->
        <div class="row">

          <div class="column">
            <button class="ui basic blue button">Tallenna</button>
          </div>

        </div>
        <!-- Second row ends -->

      </div>
    </form>
    <!-- End of form -->

  </div>
</div>
<!-- End of modal -->

<!-- View ends -->
