<!-- View begins -->
<meta charset="utf-8">
<!-- Some introduction for the page -->
<h1 class="ui header">Ilmoitukset</h1>
<p>Täällä voit selata jätettyjä ilmoituksia. Nopeuttaaksesi hakuasi, tarkenna hakuehtojasi! </p>

<!-- Tabular menu for different post options -->
<div class="ui top attached tabular menu">
  <div class="active item">Lahjoitetaan</div>
  <div class="item">Vaihdetaan</div>
  <div class="item">Etsitään</div>
</div>

<!-- The actual content below the tab menu -->
<div class="ui bottom attached active tab segment">

  <!-- Search for filtering posts -->
  <div class="ui fluid action input">
    <input type="text" placeholder="Etsi hakusanalla">

    <div class="ui button" id="refineButton" ng-click="refineModal()">
      <i class="search icon"></i> Hakuehdot
    </div>
  </div>

  <!-- Post items -->
  <div class="ui accordion">
    <div ng-repeat="post in posts">
      <div class="title" ng-click="accordion()">
        <!-- Post title -->
        <i class="dropdown icon"></i>
        {{post.item}}
      </div>
      <div class="content">

        <!-- Card (post information) begins -->
        <div class="ui fluid card">
          <div class="content">
            <span id="shipping"class="right floated meta">{{post.location}}</span>
            <div class="header">{{post.type}}</div>
          </div>

          <div class="content">
            <p>{{post.description}}</p>
            <!-- Contact information -->
            <div class="ui blue label" ng-show="{{post.contact.gsm}}">
              <i class="phone icon"></i> {{post.contact.gsm}}
            </div>

            <div class="ui blue label" ng-show="{{post.contact.email.length}}">
              <i class="mail icon"></i> {{post.contact.email}}
            </div>
          </div>

          <div class="content">
            <!-- Shipping methods -->
            <div class="ui label">
              Toimitustavat:
              <div class="detail" ng-show="{{post.shipping.mail}}===true">
                <i class="mail icon"></i> Postitus
              </div>

              <div class="detail" ng-show="{{post.shipping.pickup}}===true">
                <i class="car icon"></i> Nouto
              </div>

              <div class="detail" ng-show="{{post.shipping.home}}===true">
                <i class="home icon"></i> Kotiintoimitus
              </div>
            </div>

          </div>
          <div class="extra content">

            <!-- Comment section? -->
            <div class="ui large transparent left icon input">
              <i class="heart outline icon"></i>
              <input type="text" placeholder="Add Comment...">
            </div>

          </div>
        </div>
        <!-- End of card -->

      </div>
    </div>
  </div>
  <!-- End of post items -->

</div>
<!-- End of tabular menu contents -->

<!-- Modal for refining search results -->
<div class="ui modal" id="refineModal">
  <div class="content">
    <h1 class="ui header">Hakuehdot</h1>

    <form class="ui form">
      <div class="ui four column grid">
        <!-- First row -->
        <div class="row">

          <div class="column">
            <div class="grouped fields">
              <label>Kunto</label>
              <div class="field">
                <div class="ui checked checkbox">
                  <input type="checkbox" name="lahjoitetaan" checked="">
                  <label>Uudenveroinen</label>
                </div>
                <div class="field">
                  <div class="ui checked checkbox">
                    <input type="checkbox" name="vaihdetaan" checked="">
                    <label>Hyvä</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui checked checkbox">
                    <input type="checkbox" name="vaihdetaan" checked="">
                    <label>Kohtalainen</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui checked checkbox">
                    <input type="checkbox" name="vaihdetaan" checked="">
                    <label>Heikko</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="field">
              <label>Sijainti</label>
              <select name="location" multiple="" class="ui fluid dropdown">
                <option value="">Valitse</option>
                <option value="Ahvenanmaa">Ahvenanmaa</option>
                <option value="Etelä-Karjala">Etelä-Karjala</option>
                <option value="Etelä-Pohjanmaa">Etelä-Pohjanmaa</option>
                <option value="Etelä-Savo">Etelä-Savo</option>
                <option value="Kainuu">Kainuu</option>
                <option value="Kanta-Häme">Kanta-Häme</option>
                <option value="Keski-Pohjanmaa">Keski-Pohjanmaa</option>
                <option value="Keski-Suomi">Keski-Suomi</option>
                <option value="Kymenlaakso">Kymenlaakso</option>
                <option value="Lappi">Lappi</option>
                <option value="Pirkanmaa">Pirkanmaa</option>
                <option value="Pohjanmaa">Pohjanmaa</option>
                <option value="Pohjois-Karjala">Pohjois-Karjala</option>
                <option value="Pohjois-Savo">Pohjois-Savo</option>
                <option value="Päijät-Häme">Päijät-Häme</option>
                <option value="Satakunta">Satakunta</option>
                <option value="Uusimaa">Uusimaa</option>
                <option value="Varsinais-Suomi">Varsinais-Suomi</option>
              </select>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label>Kategoria</label>
              <select name="category" multiple="" class="ui fluid dropdown">
                <option value="">Valitse</option>
                <option value="AJO">Ajoneuvot</option>
                <option value="ELO">Elokuvat</option>
                <option value="HAR">Harrastukset</option>
                <option value="KOR">Korut</option>
                <option value="ELE">Elektroniikka</option>
                <option value="KOT">Koti</option>
                <option value="LAS">Lastentarvikkeet</option>
                <option value="MUS">Musiikki</option>
                <option value="SEK">Sekalaista</option>
                <option value="TAI">Taide</option>
                <option value="TIE">Tietotekniikka</option>
                <option value="VAA">Vaatetus</option>
              </select>
            </div>
          </div>

          <div class="column">
            <div class="grouped fields">
              <label>Toimitustapa</label>
              <div class="field">
                <div class="ui checked checkbox">
                  <input type="checkbox" name="searchshipping.pickup" checked="checked">
                  <label>Nouto</label>
                </div>
              </div>
              <div class="field">
                <div class="ui checked checkbox">
                  <input type="checkbox" name="searchshipping.mail" checked="checked">
                  <label>Postitus</label>
                </div>
                <div class="field">
                  <div class="ui checked checkbox">
                    <input type="checkbox" name="searchshipping.home" checked="checked">
                    <label>Toimitus kotiin</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="field">
            </div>
          </div>

        </div>
        <!-- First row ends -->
        <!-- Second row -->
        <div class="row">

          <div class="column">
            <button ng-click="query()" class="ui basic blue button">Tallenna</button>
          </div>

        </div>
        <!-- Second row ends -->

      </div>
    </form>
    <!-- End of form -->

  </div>
</div>
<script>
$('.ui.dropdown').dropdown();
</script>
<!-- End of modal -->

<!-- View ends -->
