<div class="ui segments">
  <div class="ui segment">
<h1 class="ui centered purple header">Rekisteröidy käyttäjäksi</h1>
</div>
<div class="ui secondary segment">
  <p> Rekisteröityneenä käyttäjänä voit lisätä ja hallita omia ilmoituksiasi ja kysyä lisää ilmoitetuista tavaroista. </p>
</div>
<div class="ui segment">

  <!-- Form for signing up -->
  <form class="ui form" name="signUpForm">

    <div class="field">
      <label>Nimi</label>

      <div class="two fields">

        <div class="field">
          <input type="text" name="firstName" ng-model="firstName" placeholder="Etunimi" required ng-minlength="2" ng-model-options="{ updateOn: 'blur' }">

          <!-- Error message for input -->
          <div ng-show="signUpForm.firstName.$invalid && signUpForm.firstName.$dirty">
            <div class="ui pointing purple label">
              Nimen on oltava vähintään kaksi merkkiä pitkä
            </div>
          </div>
        </div>

        <div class="field">
          <input type="text" name="lastName" ng-model="lastName" placeholder="Sukunimi" required ng-minlength="2" ng-model-options="{ updateOn: 'blur' }">

          <!-- Error message for input -->
          <div ng-show="signUpForm.lastName.$invalid && signUpForm.lastName.$dirty">
            <div class="ui pointing purple label">
              Sukunimen on oltava vähintään kaksi merkkiä pitkä
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="field">
      <label>Sähköpostiosoite</label>
      <input type="text" name="email" ng-model="email" placeholder="Sähköpostiosoite" required ng-pattern="/^.+@.+\..+$/" ng-model-options="{ updateOn: 'blur' }">

      <!-- Error message for input -->
      <div ng-show="signUpForm.email.$invalid && signUpForm.email.$dirty">
        <div class="ui pointing purple label">
          Sähköpostiosoitteen on oltava muotoa "user@host.com"
        </div>
      </div>
    </div>

    <div class="field">
      <label>Salasana</label>
      <input type="text" name="password" ng-model="password" placeholder="Salasana" required ng-minlength="5" ng-model-options="{ updateOn: 'blur' }">

      <!-- Error message for input -->
      <div ng-show="signUpForm.password.$invalid && signUpForm.password.$dirty">
        <div class="ui pointing purple label">
          Salasanan on oltava vähintään viisi merkkiä pitkä
        </div>
      </div>
    </div>
    <button class="ui purple button" ng-disabled="signUpForm.$invalid" ng-click="signUp()">Rekisteröidy</button>
  </form>

  <!-- Show error message if email is in use -->
  <div class="ui error message" ng-show="showError != null">
    <div class="header">Salasana käytössä</div>
    <p>Antamallasi salasanalla on jo rekisteröity käyttäjä.</p>
  </div>
  <!-- End of signup form -->

</div>
</div>
